
docker.enabled = true


params {
    reads               = './data/mutant_R1.fastq'
    opt                 = 500
    opt_optional        = null
    opt_default         = null
    flag_true_default   = null
    flag_false_default  = null

    params.align_penalties  = [2, 2, 4]  // rare?
    // opt_array            = ['one', 'two', 'three']  
    // opt_array_optional   = ['one', 'two', 'three']
    // opt_array_default    = ['one', 'two', 'three']
}

