

nextflow.enable.dsl=2
docker.enabled = true


params {
    NULL         = 'NULL'

    // NULL VALUES
    secondaries_array   = [[NULL, NULL]]
    secondaries         = [NULL, NULL]
    file_pair_array     = [[NULL, NULL]]
    file_pair           = [NULL, NULL]
    file_array          = [NULL]
    file                = NULL
    generic_array       = NULL
    generic             = NULL
    
    secondaries_array   = [[params.NULL, params.NULL]]
    secondaries         = [params.NULL, params.NULL]
    file_pair_array     = [[params.NULL, params.NULL]]
    file_pair           = [params.NULL, params.NULL]
    file_array          = [params.NULL]
    file                = params.NULL
    generic_array       = params.NULL
    generic             = params.NULL
    
    // // ACTUAL VALUES
    // secondaries_array = [
    //     [
    //         '/home/grace/work/pp/translation/nextflow/data/aln1.sorted.bam',
    //         '/home/grace/work/pp/translation/nextflow/data/aln1.sorted.bam.bai'
    //     ]
    // ]
    // secondaries = [
    //     '/home/grace/work/pp/translation/nextflow/data/aln1.sorted.bam',
    //     '/home/grace/work/pp/translation/nextflow/data/aln1.sorted.bam.bai'
    // ]
    // file_pair_array = [
    //     [
    //         '/home/grace/work/pp/translation/nextflow/data/mutant_R1.fastq',
    //         '/home/grace/work/pp/translation/nextflow/data/mutant_R2.fastq'
    //     ]
    // ]
    // file_pair = [
    //     '/home/grace/work/pp/translation/nextflow/data/mutant_R1.fastq',
    //     '/home/grace/work/pp/translation/nextflow/data/mutant_R2.fastq'
    // ]
    // file_array = [
    //     '/home/grace/work/pp/translation/nextflow/data/wildtype.fna'
    // ]
    // file       = '/home/grace/work/pp/translation/nextflow/data/wildtype.fna'
    // generic_array = [1, 2, 3]
    // generic       = 666




}
