docker.enabled = true

params {

    // INPUTS
    fastqs                          = []
    reference_fasta                 = null
    reference_amb                   = null
    reference_ann                   = null
    reference_bwt                   = null
    reference_dict                  = null
    reference_fai                   = null
    reference_pac                   = null
    reference_sa                    = null
    snps_dbsnp_gz                   = null
    snps_dbsnp_tbi                  = null
    snps_1000gp_gz                  = null
    snps_1000gp_tbi                 = null
    known_indels_gz                 = null
    known_indels_tbi                = null
    mills_indels_gz                 = null
    mills_indels_tbi                = null
    adapter_file                    = null
    contaminant_file                = null
    gatk_intervals                  = []    // list files here
    sample_name                     = null
    allele_freq_threshold           = 0.05
    min_mapping_qual                = null
    filter                          = null
    align_and_sort_sortsam_tmp_dir  = './tmp'

    // PROCESSES
    getfastqc_adapters.code_file                       = '/home/grace/work/pp/translation/janis-assistant/translated_0.12_nextflow/templates/ParseFastqcAdapters.py'
    calculate_performancesummary_genomefile.code_file  = '/home/grace/work/pp/translation/janis-assistant/translated_0.12_nextflow/templates/GenerateGenomeFileForBedtoolsCoverage.py'
    generate_gatk_intervals.code_file                  = '/home/grace/work/pp/translation/janis-assistant/translated_0.12_nextflow/templates/GenerateIntervalsByChromosome.py'
    fastqc.cpus                                        = '1'
    fastqc.memory                                      = '8'
    vc_gatk_sort_combined.cpus                         = '1'
    vc_gatk_sort_combined.memory                       = '8'

    // SUBWORKFLOW: ALIGN_AND_SORT
    align_and_sort.five_prime_adapter_read1       = []    // list strings here
    align_and_sort.five_prime_adapter_read2       = []    // list strings here
    align_and_sort.cutadapt_quality_cutoff        = 15
    align_and_sort.cutadapt_minimum_length        = 50
    align_and_sort.bwamem_mark_shorter_splits     = true
    align_and_sort.sortsam_sort_order             = 'coordinate'
    align_and_sort.sortsam_create_index           = true
    align_and_sort.sortsam_validation_stringency  = 'SILENT'
    align_and_sort.sortsam_max_records_in_ram     = 5000000
    align_and_sort.cutadapt.cpus                  = '5'
    align_and_sort.cutadapt.memory                = '4'
    align_and_sort.bwamem.cpus                    = '16'
    align_and_sort.bwamem.memory                  = '16'
    align_and_sort.sortsam.cpus                   = '1'
    align_and_sort.sortsam.memory                 = '8'

    // SUBWORKFLOW: BQSR
    bqsr.base_recalibrator.cpus    = '1'
    bqsr.base_recalibrator.memory  = '16'
    bqsr.apply_bqsr.cpus           = '1'
    bqsr.apply_bqsr.memory         = '8'

    // SUBWORKFLOW: MERGE_AND_MARKDUPS
    merge_and_markdups.create_index                           = true
    merge_and_markdups.max_records_in_ram                     = 5000000
    merge_and_markdups.merge_sam_files_use_threading          = true
    merge_and_markdups.merge_sam_files_validation_stringency  = 'SILENT'
    merge_and_markdups.merge_sam_files.cpus                   = '4'
    merge_and_markdups.merge_sam_files.memory                 = '8'
    merge_and_markdups.mark_duplicates.cpus                   = '4'
    merge_and_markdups.mark_duplicates.memory                 = '8'

    // SUBWORKFLOW: PERFORMANCE_SUMMARY
    performance_summary.samtoolsview_do_not_output_alignments_with_bits_set  = '0x400'
    performance_summary.performancesummary_genome                            = true
    performance_summary.gatk4collectinsertsizemetrics.cpus                   = '1'
    performance_summary.gatk4collectinsertsizemetrics.memory                 = '8'
    performance_summary.bedtoolsgenomecoveragebed.memory                     = '8'

    // SUBWORKFLOW: VC_GATK
    vc_gatk.haplotype_caller_pair_hmm_implementation  = 'LOGLESS_CACHING'
    vc_gatk.split_bam.memory                          = '4'
    vc_gatk.haplotype_caller.cpus                     = '1'
    vc_gatk.haplotype_caller.memory                   = '8'
    vc_gatk.splitnormalisevcf.cpus                    = '1'
    vc_gatk.splitnormalisevcf.memory                  = '8'

    // SUBWORKFLOW: VC_GATK_ADDBAMSTATS
    vc_gatk_addbamstats.samtoolsmpileup_count_orphans  = true
    vc_gatk_addbamstats.samtoolsmpileup_nobaq          = true
    vc_gatk_addbamstats.samtoolsmpileup_minbq          = 0
    vc_gatk_addbamstats.samtoolsmpileup_max_depth      = 10000
    vc_gatk_addbamstats.addbamstats_type               = 'germline'

}
